/*seteo de variables base*/
:root{
    --fondo-1: #C0D3C2;
    --fondo-2: #B2BFB4;
    --fondo-3: #A4B3A4;
    --color-letra: #2a322c;
    --borde: #333 1px solid
}
/*Reseteo de paddings y de margenes*/
*{
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--fondo-1);
}

/*configuracion del menu*/

.nav_principal {
    height: 4rem;
    background-color: var(--fondo-3);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
nav img {
    padding: 0.5rem;
}
.item_menu {
    display: flex;
    align-items: center;
    padding: 1rem;
}
.item_menu a {
    color: var(--color-letra);
    padding: 1rem;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
}

.item_menu a:hover{
    color: black;
    font-size: 22px;
}

.logo {
    height: 3rem;
    width: 3rem;
}

/*Configuracion de secciones*/

section{
    background-color: var(--fondo-2);
    margin: 4rem;
    border-radius: 10px;
}
